<mat-toolbar class="mat-elevation-z8">
  <span class="header-trigger">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'side'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> menu_open </mat-icon>
    </button>
  </span>
   <button
    class="trigger"
    #r="matMenuTrigger"
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon (mouseover)="open(r)">add</mat-icon>Asset
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">

    <button mat-menu-item (click)="createAsset()">
      <span>Asset</span>
    </button>

  </mat-menu>
</mat-toolbar>
<mat-sidenav-container #navcontainer>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <mat-nav-list>
      <a mat-list-item routerLink="/pages/home/assets">
        <mat-icon mat-list-icon>home</mat-icon>Assets</a
      >

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="container">
      <div class="example-button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </div>
  </mat-sidenav-content>


</mat-sidenav-container>
